# Sample configuration file for conversion batch files
# Copy this file as config.bat and edit it according to your setup.

pgport={{ casfri_db_port }}
pghost={{ casfri_db_host }}
pgdbname={{ casfri_db }}
pguser={{ casfri_db_username }}
pgpassword={{ casfri_db_password }}
pgversion={{ casfri_db_version }}

# Target schema where translation tables should be loaded
targetFRISchema={{ casfri_fri_schema }}
targetTranslationFileSchema={{ casfri_translation_schema }}

# Extra, non inventory tables to load (not translate)
photoYearList=({{ casfri_photo_year_list|join(' ') }})

# First series of inventories having more than 2000000 rows. Longest one should be the last one.
invList1=({{ casfri_inv_list1|join(' ') }})

# Second series of inventories having more than 2000000 rows. Longest one should be the last one.
invList2=({{ casfri_inv_list2|join(' ') }})

# Inventories having between 500000 and 2000000 rows. Longest one should be the last one.
invList3=({{ casfri_inv_list3|join(' ') }})

# Inventories having between 200000 and 500000 rows. Longest one should be the last one.
invList4=({{ casfri_inv_list4|join(' ') }})

# Inventories having less than 200000 rows
invList5=({{ casfri_inv_list5|join(' ') }})

# Merge all inventory lists into a list of list
fullList=(invList1 invList2 invList3 invList4 invList5)

friDir={{ casfri_fri_dir }}
gdalFolder={{ casfri_gdal_dir }}/bin
gdal_1_11_4=False

overwriteFRI={{ casfri_overwrite_fri }}
overwriteTTables={{ casfri_overwrite_ttables }}

pgFolder={{ casfri_pgsql_dir | default("/usr") }}
export GDAL_DATA={{ casfri_gdal_data_dir }}
